
nav{
    /* float: right; */
   
    /* border: 1px solid black; */
}
ul{
    font-weight: bold;
    text-align: center;
    
}
li{
    display: inline;
    margin: 20px;
    /* border: 1px solid black; */
    
    
    
}
li a{
    text-decoration: none;
    /* border: 1px solid black; */
    color: black;
    margin: auto;
    
}

.foot{
    text-align: center;
    /* border: 1px solid black; */
    padding: 20px;
}
button{
    background-color: red;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
}

.section{
    display: inline-block;
    padding: 100px;
    /* border: 1px solid black; */
    margin-left: 200px;
}

.image{
    float: right;
    /* border: 1px solid black; */
    margin-right: 300px;
    margin-top: 20px;
}
main{
    padding: 100px;
}